# No whitespace after the comma or in your part name!
config SHIELD_SPLIT_KV_LEFT
    def_bool $(shields_list_contains,splitkv_left)

# No whitespace after the comma or in your part name!
config SHIELD_SPLIT_KV_RIGHT
    def_bool $(shields_list_contains,splitkv_right)